{% extends "shared/layout.html" %}
{% block title %} {{ title }} {% endblock %}
{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
<div class="position-fixed top-1 end-0 p-3" style="z-index: 1050;">
    <div class="alert alert-{{ category }} alert-dismissible fade show text-center border-start border-0 border-5 border-{{category}} rounded-0" role="alert">
        <strong>{{ message }}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
</div>
{% endfor %}
{% endif %}
{% endwith %}

<div class="container mt-3">
  <h3 class="display-3">Welcome To ePOLL</h3>
  <hr>

  <section id="profileSection" name="profileSection" class="mb-5">
    <div class="card shadow text-light rounded-5" style="background-color: #1D1B1B;">
      <div class="card-body">
        <div class="row row-cols-1 row-cols-md-3 g-4 align-content-center justify-content-evenly">
          <div class="col align-content-center text-center">
            <i class="bi bi-person-circle display-1"></i>
            <p><strong>{{voter.fullname}}</strong></p>
          </div>

          <div class="col">
            <h4><strong>Profile &nbsp;<a href="#" class="text-light border-0 rounded-0"><i class="bi bi-pencil-square"></i></a></strong></h4>
            <hr>
            <p>ID: <strong>{{voter.id}}</strong></p>
            <p>Email: <strong>{{voter.email}}</strong></p>
          </div>

          <div class="col">
            <h4><strong>System Infor</strong></h4>
            <hr>
            <p>Role:
              {% for role in current_user.roles %}
              <strong>{{ role.name }}</strong>
              {% endfor %}</p>
            <p>Last Login: <strong>{{current_user.last_login}}</strong></p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <h4 class="display-5">Polls</h4>
  <hr>
  <section id="motionSection" name="motionSection" class="mb-5">
    <h3>Active Motions</h4>
    <hr>
    <div class="table-responsive">
      <table class="table table-hover align-content-center">
          <thead>
              <tr class="align-middle">
                  <th scope="col">Category</th>
                  <th scope="col">Motion</th>
                  <th scope="col">I Suport</th>
                  <th scope="col">I Do Not Suport</th>
                  <th scope="col">Others</th>
                  <th scope="col">Status</th>
                  <th scope="col"></th>
              </tr>
          </thead>
          <tbody class="table-group-divider align-content-center">
              {% for motion in motionList %}
                  <tr class="clickable-row align-middle" data-href="#">
                      <th scope="row">{{motion.category.name}}</th>
                      <th scope="row">{{motion.name}}</th>
                      <th scope="row">{{count_isupport}}</th>
                      <th scope="row">{{count_idonotsupport}}</th>
                      <th scope="row">{{count_others}}</th>
                      <th scope="row">{{motion.status.value}}</th>
                      <td scope="row">
                        {% if check_if_vote == 'True' %}
                        You have already voter!
                        {% else %}    
                        {% for role in current_user.roles %}
                        {% if role.name == 'Voter' %}
                          <a href="{{ url_for('account.isupport', id=motion.id) }}" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="I Support"><i class="bi bi-hand-thumbs-up text-success h4"></i></a> |
                          <a href="{{ url_for('account.idonotsupport', id=motion.id) }}" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="I Do Not Support"><i class="bi bi-hand-thumbs-down text-secondary h4"></i></a> |
                          <a href="{{ url_for('account.others', id=motion.id) }}" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Others"><i class="bi bi-emoji-neutral-fill h4"></i></a>
                        {% endif %}
                      {% endfor %}     
                        {% endif %}          
                      </td>
                  </tr>
              {% endfor %}
          </tbody>
      </table>
    </div>
  </section>

  <!-- <section id="agendaSection" name="agendaSection" class="mb-5">
    <h3>Agendas</h4>
    <hr>
    <div class="table-responsive">
      <table class="table table-hover align-content-center">
          <thead>
              <tr class="align-middle">
                  <th scope="col">Motion</th>
                  <th scope="col">Text</th>
                  <th scope="col">Date Created</th>
                  <th scope="col"></th>
              </tr>
          </thead>
          <tbody class="table-group-divider align-content-center">
              {% for agenda in agendalist %}
                  <tr class="clickable-row align-middle" data-href="#">
                      <th scope="row">{{agenda.motion.name}}</th>
                      <th scope="row">{{agenda.text}}</th>
                      <th scope="row">{{agenda.created_at}}</th>
                      <td scope="row">
                          <a href="{{ url_for('poll.new_agendavote', id=agenda.id) }}"><i class="bi bi-person-check-fill text-success"></i></a>
                          {% for role in current_user.roles %}
                              {% if role.name == 'Super', 'Admin' %}
                              <a href="{{ url_for('poll.edit_agenda', id=agenda.id) }}"><i class="bi bi-pencil-square text-primary"></i></a> &nbsp;
                              {% endif %}
                              {% if role.name == 'Super' %}
                              <a href="{{ url_for('poll.delete_agenda', id=agenda.id) }}"><i class="bi bi-trash text-danger"></i></a> &nbsp;
                              {% endif %}
                          {% endfor %}
                      </td>
                  </tr>
              {% endfor %}
          </tbody>
      </table>
    </div>
  </section> -->
  
</div>

{% endblock %}