{% extends "shared/adminlayout.html" %}
{% block title %} {{title}} {% endblock %}
{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
<div class="position-fixed top-1 end-0 p-3" style="z-index: 1050;">
    <div class="alert alert-{{ category }} alert-dismissible fade show text-center border-start border-0 border-5 border-{{category}} rounded-0" role="alert">
        <strong>{{ message }}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
</div>
{% endfor %}
{% endif %}
{% endwith %}

<div class="container">
    <h3 class="display-5"><i class="bi bi-clipboard-data"></i>&nbsp;{{title}}</h3>
    <hr>

    <div class="text-start mb-3">
        <a href="{{ url_for('poll.index') }}" class="btn btn-secondary"><i class="bi bi-arrow-left-circle-fill"></i>&nbsp; Back to Polls</a>&nbsp;
    </div>
    <h4>List of {{title}}</h4>
    <div class="table-responsive">
        <table class="table table-hover align-content-center">
            <thead>
                <tr class="align-middle">
                    <th scope="col">Motion</th>
                    <th scope="col">I Support</th>
                    <th scope="col">I Do Not Support</th>
                    <th scope="col">Others</th>
                    <th scope="col">Highest Score</th>
                </tr>
            </thead>
            <tbody class="table-group-divider align-content-center">
                {% for votes in pollList %}
                    <tr class="clickable-row align-middle" data-href="#">
                        <th scope="row">{{votes.motion.name}}</th>
                        <th scope="row">{{count_isupport}}</th>
                        <th scope="row">{{count_idonotsupport}}</th>
                        <th scope="row">{{count_others}}</th>
                        <th scope="row">{{highest_category}}&nbsp;{{highest_count}}</th>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}