{% extends "shared/adminlayout.html" %}
{% block title %} {{title}} {% endblock %}
{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
<div class="position-fixed top-1 end-0 p-3" style="z-index: 1050;">
    <div class="alert alert-{{ category }} alert-dismissible fade show text-center border-start border-0 border-5 border-{{category}} rounded-0" role="alert">
        <strong>{{ message }}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
</div>
{% endfor %}
{% endif %}
{% endwith %}

<div class="container mt-3">
  <h3 class="display-3">ePOLL Admin Dashboard</h3>
  <hr>

  <section id="profileSection" name="profileSection" class="mb-5">
    <div class="card shadow text-light rounded-5" style="background-color: #1D1B1B;">
      <div class="card-body">
        <div class="row row-cols-1 row-cols-md-2 g-4 align-content-center justify-content-evenly">
          <div class="col align-content-center text-center">
            <i class="bi bi-person-circle display-1"></i>
            <p>Name:<strong>{{ current_user.username }}</strong></p>
          </div>

          <div class="col">
            <h4><strong>System Info &nbsp;<a href="#" class="text-light border-0 rounded-0"><i class="bi bi-pencil-square"></i></a></strong></h4>
            <hr>
            <p>Email: <strong>{{ current_user.phone }}</strong></p>
            <p>Role: <strong>{{ current_user.email }}</strong></p>
            <p>Date Registered: <strong>{{ current_user.phone }}</strong></p>
            <p>Last Login: <strong>{{ current_user.phone }}</strong></p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="systemdataSection" name="systemdataSection" class="mb-5">
    <legend class="display-6">System Data</legend>
    <hr>
    <div class="row row-cols-1 row-cols-md-4 g-4 align-content-center">
        <div class="col">
            <div class="card h-100 dashcard align-content-center justify-content-center">
              <a class="btn rounded-0 border-0 text-center" href="#">
                <div class="card-body">
                  <div class="row row-cols-md-1 row-cols-md-2 g-2">
                      <div class="col align-content-center text-start">
                        <div class="iconbg">
                          <i class="bi bi-people display-5"></i>
                        </div>
                      </div>
                  
                      <div class="col align-content-center justify-content-center iconbg">
                        <h6 class="card-title"><strong>Total Voters</strong></h6>
                        <hr class="text-dark">        
                        <h6><strong>{{count_voters}}</strong></h6>
                      </div>
                  </div>
                </div>
              </a>
            </div>
        </div>

        <div class="col">
            <div class="card h-100 dashcard align-content-center justify-content-center">
              <a class="btn rounded-0 border-0 text-center" href="#">
                <div class="card-body">
                  <div class="row row-cols-md-1 row-cols-md-2 g-2">
                      <div class="col align-content-center text-start">
                        <div class="iconbg">
                          <i class="bi bi-clipboard-data display-5"></i>
                        </div>
                      </div>
                  
                      <div class="col align-content-center justify-content-center iconbg">
                        <h6 class="card-title"><strong>Total Polls</strong></h6>
                        <hr class="text-dark">        
                        <h6><strong>{{count_polls}}</strong></h6>
                      </div>
                  </div>
                </div>
              </a>
            </div>
        </div>

        <div class="col">
            <div class="card h-100 dashcard align-content-center justify-content-center">
              <a class="btn rounded-0 border-0 text-center" href="#">
                <div class="card-body">
                  <div class="row row-cols-md-1 row-cols-md-2 g-2">
                      <div class="col align-content-center text-start">
                        <div class="iconbg">
                          <i class="bi bi-clipboard-data display-5"></i>
                        </div>
                      </div>
                  
                      <div class="col align-content-center justify-content-center iconbg">
                        <h6 class="card-title"><strong>Poll Categories</strong></h6>
                        <hr class="text-dark">        
                        <h6><strong>{{count_category}}</strong></h6>
                      </div>
                  </div>
                </div>
              </a>
            </div>
        </div>

        <div class="col">
            <div class="card h-100 dashcard align-content-center justify-content-center">
              <a class="btn rounded-0 border-0 text-center" href="#">
                <div class="card-body">
                  <div class="row row-cols-md-1 row-cols-md-2 g-2">
                      <div class="col align-content-center text-start">
                        <div class="iconbg">
                          <i class="bi bi-people display-5"></i>
                        </div>
                      </div>
                  
                      <div class="col align-content-center justify-content-center iconbg">
                        <h6 class="card-title"><strong>System Users</strong></h6>
                        <hr class="text-dark">        
                        <h6><strong>{{count_system_users}}</strong></h6>
                      </div>
                  </div>
                </div>
              </a>
            </div>
        </div>
    </div>
  </section>

  <section id="latestpollSection" name="latestpollSection" class="mb-5">
    <legend class="display-6">Latest Poll</legend>
    <hr>
    <div class="row row-cols-1 row-cols-md-4 g-4 align-content-center">
        <div class="col">
            <div class="card h-100 dashcard align-content-center justify-content-center">
              <a class="btn rounded-0 border-0 text-center" href="#">
                <div class="card-body">
                  <div class="row row-cols-md-1 row-cols-md-2 g-2">
                      <div class="col align-content-center text-start">
                        <div class="iconbg">
                          <i class="bi bi-clipboard-data display-5"></i>
                        </div>
                      </div>
                  
                      <div class="col align-content-center justify-content-center iconbg">
                        <h6 class="card-title"><strong>Poll Title</strong></h6>
                        <hr class="text-dark">        
                        <h6><strong>{{total_members}}</strong></h6>
                      </div>
                  </div>
                </div>
              </a>
            </div>
        </div>

        {% for data in group_data %}
        <div class="col">
            <div class="card h-100 dashcard align-content-center justify-content-center">
              <a class="btn rounded-0 border-0 text-center" href="#">
                <div class="card-body">
                  <div class="row row-cols-md-1 row-cols-md-2 g-2">
                      <div class="col align-content-center text-start">
                        <div class="iconbg">
                          <i class="bi bi-clipboard-data display-5"></i>
                        </div>
                      </div>
                  
                      <div class="col align-content-center justify-content-center iconbg">
                        <h6 class="card-title"><strong>{{motion_title}}</strong></h6>
                        <hr class="text-dark">        
                        <h6><strong>{{motion_number}}</strong></h6>
                      </div>
                  </div>
                </div>
              </a>
            </div>
        </div>
        {% endfor %}
    </div>
  </section>
  
</div>

{% endblock %}