{% extends "shared/adminlayout.html" %}
{% block title %} {{title}} {% endblock %}
{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
<div class="position-fixed top-1 end-0 p-3" style="z-index: 1050;">
    <div class="alert alert-{{ category }} alert-dismissible fade show text-center border-start border-0 border-5 border-{{category}} rounded-0" role="alert">
        <strong>{{ message }}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
</div>
{% endfor %}
{% endif %}
{% endwith %}

<div class="container">
    <h3 class="display-5"><i class="bi bi-clipboard-data"></i>&nbsp;{{title}}</h3>
    <hr>

    
</div>

{% endblock %}{% extends "shared/adminlayout.html" %}
{% block title %} {{title}} {% endblock %}
{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
<div class="position-fixed top-1 end-0 p-3" style="z-index: 1050;">
    <div class="alert alert-{{ category }} alert-dismissible fade show text-center border-start border-0 border-5 border-{{category}} rounded-0" role="alert">
        <strong>{{ message }}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
</div>
{% endfor %}
{% endif %}
{% endwith %}

<div class="container">
    <h3 class="display-5"><i class="bi bi-clipboard-data"></i>&nbsp;{{title}}</h3>
    <hr>
    <div class="row justify-content-center align-content-center">
        <div class="col"></div>

        <div class="col-4">
            <div class="card">
                <h5 class="card-header"><strong>{{votes.motion.name}}</strong></h5>
                <div class="card-body">
                    <p>
                        TEXT: <strong>{{votes.agenda.text}}</strong>
                    </p>
                    <p>
                        Total Votes: <strong>{{total_votes}}</strong>
                    </p>
                    <p>
                        Yes Votes: <strong>{{yes_votes}}</strong>
                    </p>
                    <p>
                        No Votes: <strong>{{no_votes}}</strong>
                    </p>
                    <div class="text-center">
                        <a href="{{ url_for('poll.agendas') }}" class="btn btn-secondary"><i class="bi bi-arrow-left-circle-fill"></i>&nbsp; Back</a>&nbsp;
                    </div>
                </div>
                <div class="card-footer text-muted">
                    Created At: {{votes.motion.created_at}}
                </div>
            </div>
        </div>

        <div class="col"></div>
    </div>
</div>

{% endblock %}